// Place all the styles related to the INDEXES controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
	align-content:center;
	padding-left:15%;

}
.footer {
   position: fixed;
    bottom: 15px;
}
